amqp
asgiref
azure-core
azure-storage-blob
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
django
django-celery-results
django-cors-headers
django-ratelimit
django-resized
django-storages
faker
gunicorn
idna
isodate
kombu
msal
msal-extensions
packaging
pillow
portalocker
prompt-toolkit
psycopg2-binary
python-dateutil
python-decouple
python-ercas-ng
pytz
redis
requests
six
sqlparse
typing-extensions
tzdata
urllib3
uuid6
vine
wcwidth
whitenoise
